
<%- include("header") -%>

<h2>This is the about Page</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, itaque possimus? Non, nihil repellendus. Corporis, porro. Quidem, deleniti quas dolore rerum quae nisi dolorum, totam suscipit, deserunt et dolorem officiis.
Doloribus consequuntur reprehenderit laboriosam dolor. Necessitatibus, optio totam. Quas quisquam minus accusamus libero blanditiis repellat, assumenda culpa, labore dolorem, dolor officiis repellendus nihil? Eaque aut incidunt aperiam asperiores accusantium repellendus!</p>


<%- include("footer") -%>